<tr>
  <td><%= access.id %></td>
  <td><%= access.client_id %></td>
  <td><%= access.ip %></td>
  <td><%= access.user_agent %></td>
  <td><%= access.host %></td>
  <td><%= access.referer %></td>
  <td><%= l access.created_at %></td>
</tr>
